**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/.git
**/.gitignore
**/.env
**/.venv
**/venv
**/dist
**/build
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/pip-log.txt
**/pip-delete-this-directory.txt
**/htmlcov
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/.hypothesis
**/.pytest_cache
**/.python-version
**/poetry.lock
**/pdm.lock
**/.pdm.toml
**/__pypackages__/
**/target/
**/.cargo/
**/Cargo.lock 