# SPDX-FileCopyrightText: Copyright (c) 2024-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: NVIDIA Github Validation - vLLM

# Do not cancel merges into main
concurrency:
  group: pr-build-test-vllm-${{ github.ref_name || github.run_id }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

on:
  push:
    branches:
    - main
    - "pull-request/[0-9]+"

jobs:
  build-test:
    runs-on: gpu-l40-runners
    name: Build and Test - vLLM
    env:
      CONTAINER_ID: test_${{ github.run_id }}_${{ github.run_attempt }}_${{ github.job }}_vllm
      PYTEST_XML_FILE: pytest_test_report.xml
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to NGC
        if: github.event.pull_request.head.repo.full_name == github.repository || github.event_name == 'push'
        run: |
          echo "${{ secrets.NGC_CI_ACCESS_TOKEN }}" | docker login nvcr.io -u '$oauthtoken' --password-stdin
      - name: Cleanup
        if: always()
        run: |
          docker system prune -af          
      - name: Define Image Tag
        id: define_image_tag
        run: |
          echo "image_tag=vllm:latest" >> $GITHUB_OUTPUT
      - name: Debug
        run: | 
          lsmod | grep nvidia || true
          sudo dmesg | grep -i nvrm || true
          nvidia-smi
      - name: Build image
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
        run: |
          ./container/build.sh --tag ${{ steps.define_image_tag.outputs.image_tag }} --target runtime --framework vllm
      - name: Run pytest
        env:
          PYTEST_MARKS: "e2e and vllm and gpu_1 and not slow"
        run: |
          docker run --gpus all -v ${{ github.workspace }}:/workspace -w /workspace --name ${{ env.CONTAINER_ID }}_pytest ${{ steps.define_image_tag.outputs.image_tag }} bash -c "VLLM_LOGGING_LEVEL=DEBUG pytest -xsv --basetemp=/tmp --junitxml=${{ env.PYTEST_XML_FILE }} -m \"${{ env.PYTEST_MARKS }}\""
      - name: Cleanup
        if: always()
        run: |
          docker system prune -af
          sudo rm -rf ~/actions-runner/_work/dynamo
